<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="Bank Sampah"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.BankSampah"
        tools:targetApi="31">
        <activity
            android:name=".OverlayPeriode"
            android:exported="false" />
        <activity
            android:name=".aboutus"
            android:exported="false" />
        <activity
            android:name=".laporansubkategori"
            android:exported="false" />
        <activity
            android:name=".laporantransaksi"
            android:exported="false" />
        <activity
            android:name=".profil"
            android:exported="false" />
        <activity
            android:name=".datasubkategori"
            android:exported="false" />
        <activity
            android:name=".DataKategori"
            android:exported="false" />
        <activity
            android:name=".DataSatuan"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".kalkulator"
            android:exported="false" />
        <activity
            android:name=".laporan_kategori"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".cobanavbar"
            android:exported="false" />
        <activity
            android:name=".cekData"
            android:exported="false" />
        <activity
            android:name=".nota"
            android:exported="false"/>
        <service
            android:name=".LoginCheckService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>



</manifest>